name: zimpligital_phutaneat_kr
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  audioplayers: 6.5.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: 5.0.0

flutter:
  assets:
    - assets/
    - assets/image/
    - assets/music/

  uses-material-design: true